<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "HOME", home_path %>
<%= link_to "ABOUT", about_path %>
<%= link_to "CONTACT", contact_path %>
<%= link_to "HELP", help_path %>

<%= yield %>

</body>
</html>
